@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; */

:root{
    --font1: 'Righteous', cursive;
    --font2: 'Sarala', sans-serif;
    --cor1: #2f2325fa;
    --cor2: #8E5D52;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-size: 100%;
    height: 100%;
    background: linear-gradient(to top right, var(--cor1), var(--cor2));
}

.cabecalho{
    padding: 24px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu a{
    color: #FFF2E7;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 18px; 
}

.cabecalho-img{
    height: 72px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo-principal-texto{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-texto h1{
    font-family: var(--font1);
    color: #FFF2E7;
    font-weight: 400;
    font-size: 64px;
}

.conteudo-principal-texto p{
    color: #ECD6C4;
    font-size: 24px;
}

.conteudo-principal button{
    font-family: var(--font2);
    font-size: 24px;
    font-style: inherit;
    color: #2F2325;
    height: 60px;
    width: 180px;
    background-color: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
}

.conteudo-principal-img{
    height: 430px;
}

.conteudo-secundario{
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.conteudo-secundario h2{
    font-family: var(--font1);
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;

    padding-top: 48px;
    margin-bottom: 16px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-secundario p{
    font-family: var(--font2);
    font-weight: 400;
    font-size: 18px;
    color: #FFF2E7;
}

.rodape{
    padding: 48px;
    border-top: 0.4px solid #FFF2E7;
    text-align: center;
}

.rodape-img{
    height: 48px;
    /* display: block;
    margin: 0 auto; */
}